/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: blue;
}

img {
      width: 300px; /* Set the width to 100 pixels */
      height: 300px; /* Set the height to 100 pixels */
}
